<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="lib/angular.min.js"></script>
	<script src="lib/jquery.min.js"></script>
	<script src="popup.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
	
</head>
<body ng-app="myApp">
	<div class="main" ng-controller="appController">
	    <div><input type="text" ng-model="minWidth"/>×<input type="text" ng-model="minHeight"></div>
    	<div><button class="btn btn-primary" ng-click="saveImage()">img save</button></div>
	</div>
	<div id="testArea"></div>
</body>
</html>